.five-container {
  background-image: url("/hazel/five.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  position: relative;
  margin-top: 27px;
}

.five-container .light-gradiant {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(56, 56, 56, 1), rgba(56, 56, 56, 0.2));
}

.five-text-container{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.five-container h1 {

  margin-bottom: 70px;
}

.five-section {
  display: flex;
  justify-content: space-around;
}

.five-section-part {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 17px 0;
}

.five-section-part i {
  font-size: 3em;
  color: rgb(197, 235, 238);
}

.five-section-part-p-number {
  font-size: 1.5em;
}

.five-section-part-p-description {
  color: rgb(156, 19, 19);
  margin-top: 0px;
  font-weight: bold;
}


@media screen and (max-width: 768px) {
  .five-container {
    height: 210vh;
  }
  .five-container h1 {
    padding-top: 50px;
    margin-bottom: 20px;
  }

  .five-section {
    flex-direction: column;
    align-items: center;
  }

  .five-section-part {
    margin-top: 40px;
  }
}

@media screen and (max-width:564px){
  .five-container {
    height: 220vh;
  }
}