.six-container {
  height: 92vh;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin-top: 57px;
}

.six-container h1 {
  padding-top: 35px;
  margin-bottom: 50px;
}

.six-first-section {
  display: flex;
  justify-content: space-around;
}

.six-part {
  width: 27%;
  text-align: center;
  margin: 17px 0;
}

.six-part i {
  font-size: 2em;
}

@media screen and (max-width: 768px) {
  .six-container {
    height: auto;
  }
  .six-first-section {
    flex-direction: column;
    align-items: center;
  }
  .six-part {
    width: 77%;
  }
}
