.navbar-container{
    height: 7vh;
}

.navabar-content{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    font-weight: 500;
    letter-spacing: 5px;
    font-size: 1.4em;
    text-decoration: none;
    transition: ease 1s;
}

.log a:hover{
    color : rgb(156, 54, 54);
}

.logo a:visited{
    color: inherit;
}