.first-container {
  height: 90vh;
  background-image: url("/hazel/first.jpg");
  background-size: 100% 100%;
  background-position: center;
  position: relative;
  background-attachment: fixed;
}

.first-container .gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.7)
  );
}

.first-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.first-content h3 {
  font-weight: 400;
  letter-spacing: 15px;
  word-spacing: 20px;
  font-size: 1.8em;
}

.input-div {
  width: 20%;
  min-width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-div input {
  width: 40%;
  background: transparent;
  border: 2px solid rgb(29, 29, 29);
  border-radius: 3px;
  outline: none;
  letter-spacing: 2px;
  padding: 7px;
  font-size: 0.7em;
  transition: ease 1s;
}

.input-div input:hover {
  background-color: rgb(41, 41, 41);
  color: azure;
}

.input-div span {
  font-weight: 200;
  font-size: 0.8em;
}
