.second-conatiner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 17px;
  min-height: 50vh;
}

.second-section {
  width: 30%;
  text-align: center;
}

.second-section i {
  font-size: 1.95em;
  color: #3f3f3f;
}

.second-section h6 {
  color: #474747;
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 7px;
  letter-spacing: 2.5px;
}

.second-section p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  letter-spacing: 1px;
  color: #595959;
}

@media screen and (max-width: 594px) {
  .second-conatiner {
    flex-direction: column;
    justify-content: center;
  }

  .second-section {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 25px;
  }
}
